*.vs/

SAC/obj/*
Negocio/obj/*
Datos/obj/*
Entidad/obj/*

SAC/bin/*
Negocio/bin/*
Datos/bin/*
Entidad/bin/*


# User-specific files
*PandiNet/.vs/PandiNet/v16/.suo
*.suo
*.user
*.userosscache
*.sln.docstates

ConsoleTest/
packages/
